<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Вход</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}"> <!-- Подключение внешнего CSS -->
</head>
<body>
    <div class="background"></div>
    <div class="balloons"></div> <!-- Фон с шариками -->

    <div class="overlay-text">
        Измени свои привычки, и изменится твоя жизнь
    </div>
    <form method="post">
        {% csrf_token %}
        <h2>Вход</h2>
        <label for="id_username">Имя пользователя:</label>
        <input type="text" name="username" id="id_username" required>

        <div class="password-container">
            <label for="id_password">Пароль:</label>
            <input type="password" name="password" id="id_password" required>
            <span class="toggle-password" onclick="togglePassword()">👁️</span>
        </div>

        <button type="submit">Войти</button>
        <p><a href="{% url 'password_reset' %}">Забыли пароль?</a></p>
        <p>Нет аккаунта? <a href="{% url 'sign_up' %}">Зарегистрируйтесь</a>.</p>
    </form>
    <script>
        function togglePassword() {
            const passwordField = document.getElementById('id_password');
            if (passwordField.type === 'password') {
                passwordField.type = 'text';
            } else {
                passwordField.type = 'password';
            }
        }
    </script>
</body>
</html>